


.estructura img {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
   
}

.segundos {
 
    position:absolute;
    /* Ubicación */
    top: 23%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    /* Estructura */
    width: 1%;
    height: 30%;
    background-color: rgb(238, 17, 17);   
    /* Cambia el centro de giro a la parte inferior del elemento */
    transform-origin:bottom;

}



.minutos {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 1.5%;
    height: 25%;
    background-color: rgb(0, 0, 0);
    transform-origin: bottom;

}


.horas {   
    position: absolute;
    top: 37%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 2%;
    height: 15%;
    background-color: rgb(0, 0, 0);   
    transform-origin: bottom;
}


